/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: #000;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: rgb(246, 246, 235);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css **/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}
h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
li a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#categories {
  text-align: center;
  margin-bottom: 20px;
}
#categories button {
  margin: 0 10px;
  padding: 10px 20px;
  font-family: "Work Sans";
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #1d6154;
  background-color: #f0f0f0;
  border-radius: 20px;
  transition: background-color 0.3s;
  color: #1d6154;
}

#categories button:hover {
  background-color: #1d6154;
  color: #f0f0f0;
}
#categories button:active {
  background-color: #1d6154;
  color: #f0f0f0;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.gallery img {
  width: 100%;
  height: auto;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  padding: 10px 60px;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/****mise en forme du formulaire de connexion***/
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 35%;
}

.login__form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login a {
  text-decoration: underline;
  margin-bottom: 100px;
}

.login__form label {
  margin: 3em 0 1em 0;
}
/******Style mode edition******/
.topbar {
  width: 100%;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar_edit {
  font-family: "work Sans";
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
}
.topbar .fa-pen-to-square {
  color: #fff;
  font-size: 1.5em;
  margin-right: 1em;
}

/*******mise en place du lien d'acces a la modal*****/
.modifier {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  padding: 5px 10px;
  position: relative;
}
.modifier .fa-pen-to-square {
  color: #000;
  font-size: 1.2em;
  padding-right: 0.5em;
}
.btnmodal {
  width: 84px;
  height: 16px;
  font-family: "work Sans";
  font-size: 1.2em;
  font-weight: 400;
  color: #000;
  display: flex;
  position: absolute;
  top: 10px;
  left: 675px;
}

/*** Click "modifier" to open modal ***/

.container-only-admin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.update-btn i {
  padding-right: 10px;
  font-size: 20px;
}

.gallery figcaption {
  margin-top: 5px;
  font-size: 16px;
  color: #333;
  display: block;
}

/********modal******/

.modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal1 {
  width: 600px;
  height: 670px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  top: 4%;
  display: flex;
  flex-direction: column;
}
.modal1 .fa-xmark {
  font-size: 28px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.modal1_title {
  font-family: "Work sans";
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  color: #000;
  margin-top: 60px;
}
.modal1_photo {
  width: 85%;
  height: 60%;
  margin: 45px auto 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modal1-vignette {
  width: 80px;
  height: 106px;
  object-fit: cover; /* S'assure que l'image est correctement redimensionnée */
}
.modal1_separation {
  width: 85%;
  height: 2px;
  background-color: #b3b3b3;
  margin: 30px auto;
}
.modal1-btn {
  width: 40%;
  height: 45px;
  border: none;
  border-radius: 50px;
  background-color: #1d6154;
  font-family: "Syne";
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  margin: 30px auto 30px auto;
  cursor: pointer;
}

/* Styles pour la seconde modale (Ajout Photo) */
.modalAjout {
  display: none;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  z-index: 1000;
}

.modalAjout h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modalAjout .image-content {
  background-color: #f4f4f4;
  border: 2px dashed #c1c1c1;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.modalAjout input[type="file"] {
  display: none;
}

.modalAjout .fa-image {
  font-size: 50px;
  color: #c1c1c1;
}

.modalAjout label.photo {
  font-size: 14px;
  color: #c1c1c1;
}

.modalAjout label.discr {
  font-size: 12px;
  color: #c1c1c1;
}

.modalAjout input[type="text"],
.modalAjout select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.modalAjout input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #1d6154;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalAjout input[type="submit"]:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/*****modal2*******/

.modal2 {
  width: 600px;
  height: 670px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  top: 4%;
  display: none;
  flex-direction: column;
}

/* Autres ajustements */
.image-container {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.icon-container .delete-icon {
  color: white;
  font-size: 12px;
  position: relative;
  background-color: black;
  padding: 5px;
  border-radius: 20%;
}

.icon-container .delete-icon:hover {
  color: #ff4d4d00; /* Optionnel : Change la couleur sur survol */
}

/******************modal2*******************/

.modal2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 510px;
  height: 645px;
  z-index: 1000;
  padding: 30px; /* Augmenté pour plus d'espace autour du contenu */
}

.modal2 i {
  font-size: 0.8em; /* Ajusté pour mieux correspondre au design souhaité */
}

.modal2 h2 {
  text-align: center;
  font-size: 1.5rem; /* Taille de police pour le titre */
  margin-bottom: 40px;
  color: #000;
}

.modal2 form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal2img {
  display: none;
  width: 130px;

  border-radius: 8px;
}

.modal2_text {
  display: block; /* Assurez-vous que le texte est visible */
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
}

.title,
.categories-select {
  font-size: 1rem;
  margin-bottom: 12px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
select {
  height: 55px;
  border-radius: 10px;
  border: 1px solid #ccc; /* Ajouté pour mieux définir les champs */
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 10px;
  box-sizing: border-box;
}

.modal2imagelabel {
  padding: 10px 20px;
  border-radius: 40px; /* Bordures arrondies */
  background-color: #cbd6dc; /* Couleur de fond */
  color: #306685; /* Couleur du texte */
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal2_setphoto i {
  font-size: 48px;
  color: #b3b3b3;
  margin-bottom: 10px;
}

.modal2_setphoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px; /* Taille ajustée précédemment */
  background-color: #e8f1f6;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 90%; /* Réduit la largeur à 90% du conteneur parent */
  max-width: 440px; /* Vous pouvez ajouter un max-width pour limiter la largeur */
  margin-left: auto; /* Centre l'élément horizontalement */
  margin-right: auto; /* Centre l'élément horizontalement */
  padding-top: 15px; /* Taille ajustée précédemment */
  position: relative;
  box-sizing: border-box;
  padding-bottom: 5px; /* Taille ajustée précédemment */
}

.modal2imagelabel {
  padding: 10px 20px;
  border-radius: 40px;
  background-color: #cbd6dc;
  color: #306685;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px; /* Augmentez cette valeur pour ajouter plus d'espace */
}
.uploadfile {
  display: none;
}

.modal2_separation {
  margin-top: 31px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #ccc;
}

.modal2 i.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.modal2 i.fa-xmark {
  position: absolute;
  top: 20px;
  right: 21px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.modal2_setphoto input[type="file"] {
  display: none;
}

#modal2_submit:disabled {
  background-color: #ccc; /* Couleur lorsque le bouton est désactivé */
  cursor: not-allowed;
}

#modal2_submit {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #b3b3b3;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  padding: 12px 80px;
}
